.homepage-container{
    flex-grow: 1;
    justify-content: center;
}

/* Homepage Hero Section */
.welcome-banner {
    text-align: center;
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-banner h2 {
    font-size: 2.5rem;
    color: var(--text-color);
}

.welcome-banner p {
    margin: 1rem 0;
    font-size: 1.125rem;
    max-width: 40rem;
}

/* CTA Button */
.cta-button {
    display: inline-block;
    padding: .75rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    transition: transform var(--transition-speed);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.cta-button:hover {
    transform: translateY(-0.1rem);
}

/* Features Section */
.features-section {
    text-align: center;
    padding: 3rem 1.5rem;
}

.features-section h2 {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.feature-box {
    background: var(--bg-light);
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    width: 16rem;
    text-align: center;
    transition: transform var(--transition-speed);
}
.feature-box:hover {
    transform: translateY(-5px);
}

.feature-box h4 {
    color: var(--btn-color);
    margin-bottom: .75rem;
}
