/* -------------- Sidebar -------------- */
.sidebar {
    width: 300px;
    background: var(--accent-bg);
    padding: 1.25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}
.sidebar ul li {
    margin-bottom: 0.625rem;
}
.sidebar ul li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    transition: background 0.3s;
}
.sidebar ul li a:hover {
    background: var(--btn-hover);
}

/* Active Link */
.sidebar ul li a.active {
    background: var(--btn-color);
}

/* Profile Section in Sidebar */
.profile-section {
    width: 100%;
    text-align: center;
    padding: 1.25rem 0;
    border-bottom: 1px solid #34495e;
    margin-bottom: 1.25rem;
}

.profile-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--text-muted);
    overflow: hidden;
    margin: 0 auto 0.95rem;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-section p {
    color: var(--text-color);
    font-weight: 600;
    margin: 0;
}